main{
	padding-top:40px;
}

.sidebar-user {
	
	border-radius: 6px;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
	height: max-content;
	min-width: 300px;
	padding: 30px;
	margin-top:20px;
	margin-bottom:60px;
	margin-right: 40px;
	background-color: #141d2a;
	opacity: 0.85;
}

.sidebar-user ul {
	padding: 0;
}

.sidebar-user li {
	list-style: none;
	margin-bottom: 30px;
	padding: 6px 20px;
	border-radius: 6px;
	color:info;
}

.sidebar-user a {
	text-decoration: none;
	color: teal;
}


.sidebar-user i {
	text-decoration: none;
	color: olive;
}

.active-page {
	background-color: #f5f5f5;
	font-weight: bold;
}

/* Content */
.content-wrapper {
	width: 100%;
	background-color: #141d2a;
	opacity: 0.85;
	padding: 10px 30px 10px 30px;
	box-shadow: 4px 2px 5px 2px;
	margin-top:20px;
	margin-bottom:60px;
}

.content-wrapper h2 {
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	color:white;
}

.user-image {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
}

.user-image img {
	width: 100%;
	height: 100%;
}

.user-image:hover {
	cursor: pointer;
	opacity: 0.8;
}

/* Table */
.content-wrapper table {
	border: 1px solid rgba(0, 0, 0, 0.3);
}

@media ( max-width : 768px) {
	.sidebar-user {
		min-width: auto;
	}
}

@media ( max-width : 576px) {
	.content-wrapper {
		width: 100%;
	}
	.sidebar-user {
		display: none;
	}
}

.dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.dropdown ul li {
  min-width: 200px;
}

.dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
  color: #0c3c53;
}
.dropdown ul a i {
  font-size: 12px;
}

.dropdown ul a:hover,
.dropdown ul .active:hover,
.dropdown ul li:hover>a {
  color: #47b2e4;
}

.dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
 .dropdown .dropdown ul {
    left: -90%;
  }

  .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}